<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Neopter{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        {% block stylesheets %}
    		<!--[if lte IE 8]><script src="{{ asset('assets/js/ie/html5shiv.js') }}"></script><![endif]-->
    		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/neopter.css') }}" />
    		<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" /><![endif]-->
    		<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css') }}" /><![endif]-->
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="wrapper">
                {% block content %}
                    <div id="main">
                        <div class="inner">
                            {% block header %}
                                {% include 'header.html.twig' %}
                            {% endblock %}

                            {% block sections %}{% endblock %}
                        </div>
                    </div>

                    {% block sidebar %}
                        {% include 'sidebar.html.twig' %}
                    {% endblock %}
            </div>
            {% endblock %}
        {% endblock %}

        {% block javascripts %}
    		<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    		<script src="{{ asset('assets/js/skel.min.js') }}"></script>
    		<script src="{{ asset('assets/js/util.js') }}"></script>
    		<!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js') }}"></script><![endif]-->
    		<script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
