{% set menu = {'items':
    [
        { 'route': 'topicalities', 'label': 'Actualités' },
        { 'route': 'informations', 'label': 'Informations' },
        { 'route': 'requestForVisit', 'label': 'Demande de visite' },
        { 'route': 'userList', 'label': 'Gestion du groupe', 'submenu': [
            { 'route': 'userList', 'label': 'Tableau de bord' },
            { 'route': 'userList', 'label': 'Liste des membres' },
            { 'route': 'userSchedule', 'label': 'Planning' },
            { 'route': 'userActivityDivision', 'label': 'Répartition des rôles' },
            { 'route': 'userList', 'label': 'Actualités' },
            { 'route': 'userList', 'label': 'Informations' },
            { 'route': 'userList', 'label': 'Visites' },
        ]},
        { 'route': 'userList', 'label': 'Gestion du village', 'submenu': [
            { 'route': 'userList', 'label': 'Liste des membres' },
            { 'route': 'userList', 'label': 'Groupes' },
            { 'route': 'userList', 'label': 'Actualités' },
            { 'route': 'userList', 'label': 'Informations' },
            { 'route': 'userList', 'label': 'Visites' },
        ]},
        { 'route': 'userList', 'label': 'Gestion de la Cinéscénie', 'submenu': [
            { 'route': 'userList', 'label': 'Liste des membres' },
            { 'route': 'userList', 'label': 'Villages' },
            { 'route': 'userList', 'label': 'Actualités' },
            { 'route': 'userList', 'label': 'Informations' },
            { 'route': 'userList', 'label': 'Visites' },
        ]},
        { 'route': 'setting', 'label': 'Paramétrage', 'submenu': [
            { 'route': 'userList', 'label': 'Général' },
            { 'route': 'userList', 'label': 'Cinéscénies' },
            { 'route': 'userList', 'label': 'Utilisateurs' },
            { 'route': 'userList', 'label': 'Autorisations' },
            { 'route': 'userList', 'label': 'Catégorie de rôles' },
            { 'route': 'userList', 'label': 'Rôles' },
            { 'route': 'userList', 'label': 'Compétences' },
            { 'route': 'userList', 'label': 'Rôles par compétence' },
        ]},
        { 'route': 'myAccount', 'label': 'Mon compte', 'submenu': [
            { 'route': 'myAccount', 'label': 'Informations personnelles' },
            { 'route': 'myAccount', 'label': 'Changer son mot de passe' },
            { 'route': 'myAccount', 'label': 'Planning' },
            { 'route': 'fos_user_security_logout', 'label': 'Se déconnecter' },
        ]},
    ]
} %}

<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        {% for item in menu.items %}
            {% set isActive = false %}
            {% if app.request.attributes.get('_route') == item.route %}
                {% set isActive = true %}
            {% endif %}

            {% if item.submenu is defined %}
                <li>
                    <span class="opener">{{ item.label }}</span>
                    <ul>
                        {% for submenuItem in item.submenu %}
                            {% set isActive = false %}
                            {% if app.request.attributes.get('_route') == submenuItem.route %}
                                {% set isActive = true %}
                            {% endif %}
                            <li>
                                <a class="{% if isActive %}active{% endif %}" href="{{ path(submenuItem.route) }}">{{ submenuItem.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a class="{% if isActive %}active{% endif %}" href="{{ path(item.route) }}">{{ item.label }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
