{% set menu = {'items':
    [
        { 'route': 'memberList', 'label': 'Liste des membres', 'role': 'ROLE_USER', 'isActiveFor': ['home', 'memberGeneral', 'memberEditSchedule', 'memberEditSkills'] },
        { 'route': 'memberSchedule', 'label': 'Planning', 'role': 'ROLE_USER', 'isActiveFor': ['memberScheduleEditActivities', 'memberScheduleEditActivity'] },
        { 'route': 'memberActivityDivision', 'label': 'Répartition des rôles', 'role': 'ROLE_ADMIN', 'isActiveFor': [] },
        { 'route': 'memberDashboard', 'label': 'Tableau de bord', 'role': 'ROLE_USER', 'isActiveFor': [] },
        { 'route': 'fos_user_security_logout', 'label': 'Se déconnecter', 'role': 'ROLE_USER', 'isActiveFor': [] },
    ]
} %}

<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        {% for item in menu.items %}
            {% if is_granted(item.role) %}
                {% set isActive = false %}
                {% if app.request.attributes.get('_route') == item.route or app.request.attributes.get('_route') in item.isActiveFor %}
                    {% set isActive = true %}
                {% endif %}

                {% if item.submenu is defined %}
                    <li>
                        <span class="opener">{{ item.label }}</span>
                        <ul>
                            {% for submenuItem in item.submenu %}
                                {% set isActive = false %}
                                {% if app.request.attributes.get('_route') == submenuItem.route %}
                                    {% set isActive = true %}
                                {% endif %}
                                <li>
                                    <a class="{% if isActive %}active{% endif %}" href="{{ path(submenuItem.route) }}">{{ submenuItem.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="{% if isActive %}active{% endif %}" href="{{ path(item.route) }}">{{ item.label }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
