{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div id="main">
        <div class="inner">
            <div class="row uniform align-center top">
                <div class="4u 12u$(xsmall)">
                </div>
                <div class="4u 12u$(xsmall)">
                    <div class="box">
                        {% if error %}
                            <div class="message error" data-component="message">
                                {{ error.messageKey|trans(error.messageData, 'security') }} <span class="close small"></span>
                            </div>
                        {% endif %}

                        <form method="post" action="{{ path("fos_user_security_check") }}">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}

                            <div class="row uniform">
                                <div class="12u$">
                                    <input type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required">
                                </div>

                                <div class="12u$">
                                    <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}">
                                </div>

                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="special" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}