{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Tableau de bord</h2>
        </header>

        <h3>Statistiques</h3>

        <p><a href="{{ path('memberDashboardStats') }}">Télécharger le tableau des statistiques</a></p>

	    <h3>Membres avec moins de 15 séances de présence</h3>

	    <p>
	        {% for member in members %}
	            {% if member.countCinescenies < constant('AppBundle\\Entity\\Cinescenie::MIN') %}
	                <a href="{{ path('memberGeneral', {'member': member[0].id}) }}"{% if member[0].isNew %} class="blue-link"{% endif %}>{{ member[0].firstname }} {{ member[0].lastname }}</a> ({{ member.countCinescenies }}) |
	            {% endif %}
	        {% endfor %}
	    </p>

	    <h3>Cinéscénies futures dans lesquelles il manque des membres</h3>

	    <p>
	        {% for cine in cineComplete %}
	        	{% if cine.cinescenie.date|date('ymd') >= 'now'|date('ymd') %}
	                <a href="{{ path('memberScheduleEditActivities', {'cinescenie': cine.cinescenie.id}) }}">
	                    {{ cine.cinescenie.date|date("d/m/y") }}
	                </a> (besoin de {{ cine.manque }}) |
            	{% endif %}
	        {% endfor %}
	    </p>
    </section>
{% endblock %}