{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>{{ member.firstname }} {{ member.lastname }}</h2>
        </header>


        {{ form_start(form) }}
            <div class="row uniform">
                <div class="12u$">
                    <h3>Nouveau</h3>
                    <div class="select-wrapper">
                        {{ form_widget(form.isNew) }}
                    </div>
                </div>
            </div>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><a href="{{ path('memberGeneral', {'member': member.id}) }}" class="button">Retour</a></li>
                        <li><input type="submit" value="Enregistrer" class="special" /></li>
                    </ul>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}