{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Liste des membres du groupe Neopter</h2>
        </header>

        <form method="post">
            <input type="text" id="searchMember" onkeyup="search()" placeholder="Rechercher un membre">
        </form>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Prénom</th>
                        <th onclick="sortTable(1)">Nom</th>
                        <th>Cinéscénie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td>
                                {% if member.countCinescenies < constant('AppBundle\\Entity\\Cinescenie::MIN') %}
                                    <b>
                                        <i class="fa fa-exclamation"></i>
                                    </b>
                                {% endif %} 
                                <a href="{{ path('memberGeneral', {'member': member[0].id}) }}">{{ member[0].firstname }}</a>
                            </td>
                            <td>
                                <a href="{{ path('memberGeneral', {'member': member[0].id}) }}">{{ member[0].lastname }}</a>
                            </td>
                            <td>{{ member.countCinescenies }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      function search() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchMember");
        filter = input.value.toUpperCase();
        table = document.getElementsByTagName("table");
        tr = table[0].getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function sortTable(column) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementsByTagName("table")[0];
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.getElementsByTagName("tr");
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("td")[column].getElementsByTagName("a")[0];
            y = rows[i + 1].getElementsByTagName("td")[column].getElementsByTagName("a")[0];

            //check if the two rows should switch place:
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }
    </script>
{% endblock %}
