{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Planning</h2>
        </header>

        {% for flash_message in app.session.flashBag.get('notice') %}
          <div class="box">
              <p>{{ flash_message }}</p>
          </div>
        {% endfor %}

        <p>
            <i class="fa fa-check"></i> : Date où tous les participants pour les rôles sont trouvés.<br>
            <i class="fa fa-times"></i> : Date où il manque des participants.
        </p>

        <h3>Dates à venir</h3>

        <table class="compact">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Présence</th>
                    <th class="align-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cinescenie in cinescenies %}
                    {% if cinescenie.date|date('ymd') >= 'now'|date('ymd') %}
                        <tr>
                            <td>
                                {% if cineComplete[cinescenie.id] %}
                                    <i class="fa fa-check"></i>
                                {% else %}
                                    <i class="fa fa-times"></i>
                                {% endif %} 

                                {% if cinescenie.isTraining %}
                                    <b title="Répétition">R</b>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('memberScheduleEditActivities', {'cinescenie': cinescenie.id}) }}">
                                    {{ cinescenie.date|date("d/m/y") }}
                                </a>
                                <br/>
                                {{ cinescenie.date|date("H:i") }}
                            </td>
                            <td>
                                {% for schedule in cinescenie.schedules %}
                                    {% if schedule.member %}
                                        {% if schedule.member.deleted %}
                                            {{ schedule.member.firstname }} {{ schedule.member.lastname }}
                                        {% else %}
                                            <a href="{{ path('memberGeneral', {'member': schedule.member.id}) }}">{{ schedule.member.firstname }} {{ schedule.member.lastname|first }}</a>
                                        {% endif %}
                                        {% if schedule.activity %} ({{ schedule.activity.name }}{% if schedule.specialty %} / {{ schedule.specialty.name }}{% endif %}){% endif %}
                                        {% if not loop.last %}, {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="align-right">{{ cinescenie.schedules|length }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h3>Dates passées</h3>

        <table class="compact">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Présence</th>
                    <th class="align-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cinescenie in cinescenies %}
                    {% if cinescenie.date|date('ymd') < 'now'|date('ymd') %}
                        <tr>
                            <td>
                                {% if cineComplete[cinescenie.id] %}
                                    <i class="fa fa-check"></i>
                                {% else %}
                                    <i class="fa fa-times"></i>
                                {% endif %}

                                {% if cinescenie.isTraining %}
                                    <b title="Répétition">R</b>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('memberScheduleEditActivities', {'cinescenie': cinescenie.id}) }}">
                                    {{ cinescenie.date|date("d/m/y") }}
                                </a>
                                <br/>
                                {{ cinescenie.date|date("H:i") }}
                            </td>
                            <td>
                                {% for schedule in cinescenie.schedules %}
                                    {% if schedule.member %}
                                        {% if schedule.member.deleted %}
                                            {{ schedule.member.firstname }} {{ schedule.member.lastname }}
                                        {% else %}
                                            <a href="{{ path('memberGeneral', {'member': schedule.member.id}) }}">{{ schedule.member.firstname }} {{ schedule.member.lastname|first }}</a>
                                        {% endif %}
                                        {% if schedule.activity %} ({{ schedule.activity.name }}{% if schedule.specialty %} / {{ schedule.specialty.name }}{% endif %}){% endif %}
                                        {% if not loop.last %}, {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="align-right">{{ cinescenie.schedules|length }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}