{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Planning</h2>
        </header>

        {% for flash_message in app.session.flashBag.get('notice') %}
          <div class="box">
              <p>{{ flash_message }}</p>
          </div>
        {% endfor %}

        <p>
            <i class="fa fa-check green"></i> : Date où tous les participants pour les rôles sont trouvés.<br>
            <i class="fa fa-times red"></i> : Date où il manque des participants.
        </p>

        <h3>Dates à venir</h3>

        <table class="compact">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Type</th>
                    <th class="align-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cinescenie in cinescenies %}
                    {% if cinescenie.date|date('ymd') >= 'now'|date('ymd') %}
                        <tr>
                            <td>
                                {% if cineComplete[cinescenie.id] %}
                                    <i class="fa fa-check green"></i>
                                {% else %}
                                    <i class="fa fa-times red"></i>
                                {% endif %} 
                            </td>
                            <td>
                                <a href="{{ path('memberScheduleEditActivities', {'cinescenie': cinescenie.id}) }}">
                                    {{ cinescenie.date|localizeddate('none', 'none', null, null, 'EEEE d LLLL y à HH:mm')|capitalize }}
                                </a>
                            </td>
                            <td>
                                {% if cinescenie.isTraining %}
                                    Répétition
                                {% else %}
                                    Cinéscénie
                                {% endif %}
                            </td>
                            <td class="align-right">{{ cinescenie.schedules|length }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h3>Dates passées</h3>

        <table class="compact">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Présence</th>
                    <th class="align-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cinescenie in cinescenies %}
                    {% if cinescenie.date|date('ymd') < 'now'|date('ymd') %}
                        <tr>
                            <td>
                                {% if cineComplete[cinescenie.id] %}
                                    <i class="fa fa-check green"></i>
                                {% else %}
                                    <i class="fa fa-times red"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('memberScheduleEditActivities', {'cinescenie': cinescenie.id}) }}">
                                    {{ cinescenie.date|localizeddate('none', 'none', null, null, 'EEEE d LLLL y à HH:mm')|capitalize }}
                                </a>
                            </td>
                            <td>
                                {% if cinescenie.isTraining %}
                                    Répétition
                                {% else %}
                                    Cinéscénie
                                {% endif %}
                            </td>
                            <td class="align-right">{{ cinescenie.schedules|length }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}