{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
        </header>

        <h3>Planning</h3>

        {{ form_start(form) }}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Rôle</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cinescenie in form.cinescenies %}
                        {% set index = cinescenie.vars.value %}
                        {% set entity = form.cinescenies.vars.choices[index].data %}
                        {% set activityName = '' %}
                        {% for schedule in entity.schedules %}
                            {% if schedule.user == user and schedule.activity %}{% set activityName = schedule.activity.name %}{% endif %}
                        {% endfor %}
                        <tr>
                            <td>
                                {{ form_widget(cinescenie) }}
                                {{ form_label(cinescenie, null, { 'label_attr': {'class': 'without-margin'} }) }}
                            </td>
                            <td>
                                {{ activityName }}
                            </td>
                            <td>
                                {% if entity.state == constant('AppBundle\\Entity\\Cinescenie::STATE_VALIDATE') %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><a href="{{ path('userGeneral', {'userSlug': user.username}) }}" class="button">Retour</a></li>
                        <li><input type="submit" value="Enregistrer" class="special" /></li>
                    </ul>
                </div>
            </div>
        {{ form_end(form) }}

       {#  <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Rôle</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cinescenie in cinescenies %}
                        {% set activityName = '' %}
                        {% set presence = false %}
                        {% for schedule in cinescenie.schedules %}
                            {% if schedule.user == user and schedule.activity %}{% set activityName = schedule.activity.name %}{% endif %}
                            {% if schedule.user == user %}{% set presence = true %}{% endif %}
                        {% endfor %}

                        <tr>
                            <td>
                                <input type="checkbox" id="cinescenie-{{ cinescenie.id }}" name="cinescenie-{{ cinescenie.id }}"{% if presence %} checked{% endif %}>
                                <label for="cinescenie-{{ cinescenie.id }}" class="without-margin">{{ cinescenie.date|localizeddate('none', 'none', null, null, 'EEEE d LLLL')|capitalize }}</label>
                            </td>
                            <td>
                                {% if activityName %}
                                    <b>{{ activityName }}</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if cinescenie.state == constant('AppBundle\\Entity\\Cinescenie::STATE_VALIDATE') %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><a href="{{ path('userGeneral', {'userSlug': user.username}) }}" class="button">Retour</a></li>
                        <li><input type="submit" value="Enregistrer" class="special" /></li>
                    </ul>
                </div>
            </div>
        </form> #}
    </section>
{% endblock %}