{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
        </header>

        <h3>Informations personnelles</h3>
        
        {{ form_start(form) }}
            <div class="row uniform">
                <div class="4u 12u$(xsmall)">
                    <label>Prénom</label>
                    {{ form_widget(form.firstname) }}

                    <label class="with-margin-top">Nom</label>
                    {{ form_widget(form.lastname) }}
                </div>
                <div class="4u 12u$(xsmall)">
                    <label>Email</label>
                    {{ form_widget(form.email) }}

                    <label class="with-margin-top">Téléphone</label>
                    {{ form_widget(form.phone) }}
                </div>
                <div class="4u 12u$(xsmall)">
                    <label>Nouveau mot de passe</label>
                    {{ form_widget(form.plainPassword) }}
                </div>
            </div>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><a href="{{ path('userGeneral', {'userSlug': user.username}) }}" class="button">Retour</a></li>
                        <li><input type="submit" value="Enregistrer" class="special" /></li>
                    </ul>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
