{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Cinéscénie du {{ cinescenie.date|localizeddate('none', 'none', null, null, 'EEEE d LLLL y') }}</h2>
        </header>

        <h3>Modification des rôles</h3>

        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule.user.firstname }} {{ schedule.user.lastname }}</td>
                            <td>
                                <div class="select-wrapper">
                                    <select name="schedule-{{ schedule.id }}">
                                        <option value=""{% if schedule.activity is empty %} selected{% endif %}></option>
                                        {% for activity in activities %}
                                            <option value="activity-{{ activity.id }}"{% if schedule.activity and activity.id == schedule.activity.id %} selected{% endif %}>{{ activity.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><a href="{{ path('usersSchedule') }}" class="button">Retour</a></li>
                        <li><input type="submit" value="{% if cinescenie.date|date('ymd') < 'now'|date('ymd') %}Enregistrer et valider{% else %}Enregistrer{% endif %}" class="special" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
{% endblock %}